/********************************************** Very small mobile device (up to 480px) *********************************************/
@media (max-width: 480px) {

    body,
    html {
        width: 100%;
        overflow-x: hidden;
        margin: 0 !important;
        padding: 0 !important;
    }

    /* Header */
    .header {
        background-color: rgb(89, 39, 27);
        position: fixed;
        width: 100%;
        z-index: 3000;
        padding-bottom: 10px;
        padding-top: 10px;
        color: white;

    }

    .header a {
        color: white;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
        cursor: pointer;
        z-index: 5000;
        position: fixed;
        top: 17px;
        right: 30px;
    }

    .hamburger span {
        display: block;
        height: 3px;
        width: 100%;
        background: #ffffff;
        transition: all 0.3s ease;
    }

    .menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 70%;
        max-width: 300px;
        height: 100vh;
        background: rgb(101, 52, 40);
        box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
        transition: all 0.5s ease;
        z-index: 4999;
        padding: 80px 20px 20px;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 0;
        margin: 0;
    }

    .menu ul li a {
        font-size: 1.1em;
        display: block;
        border-radius: revert;
        border-bottom: 1px solid rgba(255, 255, 255, 0.468);
        padding-bottom: 15px;
        width: 100%;
    }

    nav ul li:nth-child(1) {
        all: revert;
        text-decoration: none;
        list-style: none;
    }

    .menu-toggle:checked~.menu {
        left: 0;
    }

    .menu-toggle:checked+.hamburger span:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .menu-toggle:checked+.hamburger span:nth-child(2) {
        display: none;
    }

    .menu-toggle:checked+.hamburger span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }

    .overlay {
        display: none;
        background-color: rgba(0, 0, 0, 0.274);
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
    }

    .menu-toggle:checked~.overlay {
        display: block;
    }


    /* banner */
    .banner {
        all: revert;
        display: flex;
        flex-direction: column-reverse;

        margin-top: 80px;
        margin-bottom: 50px;

    }

    .banner>div {
        margin: 0 auto;
    }

    .banner img {
        width: 70%;
        margin: 0 auto;
        transform: scale(1.5);
        margin-top: 70px;
        margin-bottom: 80px;

    }

    .banner>.img {
        width: 95%;
    }

    .banner>div>h1 {
        padding: 0 30px 0 30px;
        text-align: left;
        margin-top: -50px;
    }

    .banner>div>p {
        all: revert;
        text-align: left;
        margin: 0 auto;
        padding: 0 30px 0 30px;
        line-height: 1.5;
        font-size: 1.1em;
    }

    .banner>div>button {
        margin-left: 30px;
    }

    .banner>div>button>a {
        font-size: 1.1em;
    }

    .img-design {
        position: absolute;
        left: 0;
        top: -1%;
    }

    .img-design img {
        width: 70%;
    }


    /*  Our Special Dish  */
    .desc-special-dish {
        all: revert;
        text-align: left;
        width: 80%;
        margin-bottom: 30px;
        line-height: 1.5;
        font-size: 1.1em;
        margin: 0 30px;

    }

    .special-dish h2 {
        font-size: 1.8em;
        text-align: left;
        margin: 0 30px;

    }

    .images img {
        width: 100%;
        height: auto;
    }

    .imges-special-dish {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .images p {
        font-size: 1.5em;
    }

    .images figure {
        font-size: 1.1em;
    }

    /* Gallery */
    .main-gallery {
        display: grid;
        justify-content: center;
        padding-left: 15px;
        padding-right: 15px;

    }

    .main-gallery h2 {
        font-size: 2em;
    }

    .main-gallery>div>p {
        font-size: 1.1em;
        text-align: center;
    }

    .sub-gallery {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .sub-gallery>div>img {
        width: 100%;
        max-width: 600px;
        height: auto;
    }


    /* Populer */
    .main-populer h2 {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 50px;
        font-size: 1.3em;
        line-height: 1.5;
    }

    .pop-para h3 {
        font-size: 1.3em;
        text-align: left;
        line-height: 1.5;
    }

    .pop-para p {
        text-align: left;
        line-height: 1.5;

    }

    .pop-one {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 50px;
        padding-left: 30px;

    }

    .pop-one img {
        width: 99%;
    }

    .pop-two {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        padding-bottom: 50px;
        padding-left: 30px;

    }

    .pop-two img {
        width: 99%;
    }

    .pop-three {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 50px;
        padding-left: 30px;
    }

    .pop-three img {
        width: 99%;
    }

    /* our-menu */
    .our-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 30px;
        padding-right: 30px;
    }

    .our-menu div h4 {
        font-size: 1.7em;
        line-height: 1.5;
    }

    .our-menu div p {
        font-size: 1.1em;
    }

    .menu-titel {
        font-size: 1.8em;
    }

    .menu-para {
        font-size: 1.3em;
    }

    .star p {
        font-size: 1.5em;
    }

    .sub-our-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menu-img {
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        width: 98%;
        background-color: white;

    }

    .menu-img img {
        width: 100%;
    }

    .menu-img p {
        width: 95%;
        padding: 10px;
    }

    .our-menu>div>button {
        display: none;
    }

    .mobile-button {
        display: block;
        margin-top: 20px;
        border: none;
        background-color: rgb(255, 87, 149);
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 100px;
        transition: transform 0.5s ease;
        font-size: 14px;
    }

    .mobile-button a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 1.5em;


    }

    /* Reviews */
    .main-reviews {
        padding-right: 20px;
        padding-left: 20px;
    }

    .reviews-image {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: start;

    }

    .reviews-image>div {
        margin-left: revert;
    }

    .reviews>div>img {
        width: 30%;
    }

    .reviews {
        display: flex;
        flex-direction: column;
    }

    .reviews-image div p:nth-child(1) {
        font-size: 1.2em;
    }

    .reviews-image p {
        padding-left: 15px;
        font-size: 1.1em;
    }

    .reviews-para {
        width: 250px;
        line-height: 1.5;
        padding-left: 60px;
        margin-top: 5px;
    }

    /* About Me */
    .sub-about {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10%;
        padding: 0 30px 0 30px;
    }

    .sub-about img {
        width: 45%;

    }

    .sub-about>div>h2 {
        text-align: center;
        margin-top: 20px;
    }

    .sub-about>div>p {
        text-align: center;
        width: 300px;
        font-size: 1.3em;

    }

    /* footer */
    .main-footer {
        font-size: 1.1em;
        line-height: 1.5;
    }

    .sub-footer {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 50px;
    }

    .main-gps {
        display: flex;
        flex-direction: column;
        text-align: start;
        gap: 30px;
    }

    .gps>div>div>p {
        width: 80%;
        font-size: 1.1em;
    }

    .contact-us {
        font-size: 1.1em;
    }

    .contact-us span {
        font-size: 1.1em;
    }

    .quick-links span {
        font-size: 1.1em;
    }

    .phone>div>p {
        width: 30%;
    }

    .quick-links a {
        font-size: 1.1em;
    }

    .social-media span {
        font-size: 1.1em;
    }

    .social-media a {
        font-size: 1.1em;
    }

}














/********************************************** Medium mobile device (481px to 767px) **************************************/
@media (min-width: 481px) and (max-width: 768px) {

    body,
    html {
        margin: 0 !important;
        padding: 0 !important;
    }

    /* Header */
    .header {
        background-color: rgb(89, 39, 27);
        position: fixed;
        width: 100%;
        z-index: 3000;
        padding-bottom: 10px;
        padding-top: 10px;
        color: white;

    }

    .header a {
        color: white;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
        cursor: pointer;
        z-index: 5000;
        position: fixed;
        top: 17px;
        right: 50px;
    }

    .hamburger span {
        display: block;
        height: 3px;
        width: 100%;
        background: #ffffff;
        transition: all 0.3s ease;
    }

    .menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 80%;
        max-width: 300px;
        height: 100vh;
        background: rgb(101, 52, 40);
        box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
        transition: all 0.5s ease;
        z-index: 4999;
        padding: 80px 20px 20px;
    }

    .menu ul li a {
        font-size: 1.1em;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        font-weight: revert;
        padding-bottom: 15px;
        width: 100%;
        display: block;
        border-radius: revert;



    }

    .menu ul {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 0;
        margin: 0;
    }

    nav ul li:nth-child(1) {
        all: revert;
        text-decoration: none;
        list-style: none;
    }

    .menu-toggle:checked~.menu {
        left: 0;
    }

    .menu-toggle:checked+.hamburger span:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .menu-toggle:checked+.hamburger span:nth-child(2) {
        display: none;
    }

    .menu-toggle:checked+.hamburger span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }

    .overlay {
        display: none;
        background-color: rgba(0, 0, 0, 0.274);
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
    }

    .menu-toggle:checked~.overlay {
        display: block;
    }

    /* banner */
    .banner {
        display: flex;
        flex-direction: column-reverse;
        font-size: 1.1em;
    }

    .banner>div>p {
        width: 90%;
    }

    .banner img {
        width: 100%;
        max-width: 330px;
        margin: 0 auto;
        margin-top: 100px;
        margin-bottom: 80px;


    }

    .banner>.img {
        width: 100%;
    }

    .banner>div>button>a {
        font-size: 1.1em;
    }

    .img-design {
        position: absolute;
        left: 0;
        top: -5%;
    }

    .img-design img {
        width: 90%;
    }

    /*  Our Special Dish  */
    .desc-special-dish {
        all: revert;
        text-align: left;
        width: 80%;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 30px;
        line-height: 1.5;
        font-size: 1.1em;

    }

    .images img {
        width: 200px;
        height: 180px;
        border-radius: 40px 30px 50px 0;
        border: 5px solid rgb(255, 255, 255);
    }

    .imges-special-dish {
        display: grid;
        grid-template-columns: auto auto;
        text-align: left;
        gap: 50px;
    }

    .special-dish h2 {
        font-size: 2em;
        text-align: left;
        margin-left: 30px;
    }

    .images p {
        font-size: 1.3em;
        text-align: left;
    }

    .images figure {
        font-size: 1.1em;
        text-align: left;
    }

    /* Gallery */
    .main-gallery {
        display: grid;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 100px;
    }

    .main-gallery h2 {
        font-size: 2em;
    }

    .main-gallery p {
        font-size: 1.3em;

    }

    .sub-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        gap: 10px;
    }

    .sub-gallery>div>img {
        width: 100%;
        max-width: 600px;
        height: 190px;
    }

    /* Populer */
    .main-populer h2 {
        width: 300px;
        margin: 0 auto;
        margin-bottom: 50px;
        font-size: 2em;
    }

    .pop-para h3 {
        font-size: 1.5em;
        text-align: left;
    }

    .pop-para p {
        font-size: 1.1em;
        text-align: left;
    }

    .pop-one {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 50px;
    }

    .pop-two {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        padding-bottom: 50px;
    }

    .pop-three {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 50px;
    }

    /* our-menu */
    .our-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 30px;
        padding-right: 30px;
    }

    .our-menu div h4 {
        font-size: 1.8em;
    }

    .our-menu div p {
        font-size: 1.1em;
    }

    .menu-titel {
        font-size: 1.2sem;
    }

    .menu-para {
        font-size: 1.1em;
    }

    .star p {
        font-size: 1.3em;
    }

    .sub-our-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menu-img {
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        width: 98%;
        background-color: white;

    }

    .menu-img img {
        width: 100%;
    }

    .menu-img p {
        width: 95%;
        padding: 10px;
    }

    .our-menu>div>button {
        display: none;
    }

    .mobile-button {
        display: block;
        margin-top: 20px;
        border: none;
        background-color: rgb(255, 132, 177);
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 100px;
        transition: transform 0.5s ease;
        font-size: 14px;
    }

    .mobile-button a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 1.5em;
    }


    /* Reviews */
    .main-reviews {
        padding-right: 20px;
        padding-left: 20px;
    }

    .reviews>div>img {
        width: 20%;

    }

    .reviews {
        display: flex;
        flex-direction: column;
    }

    .reviews-image div p:nth-child(1) {
        font-size: 1.3em;
    }

    .reviews-image p {
        padding-left: 15px;
        font-size: 1.1em;

    }

    .reviews-para {
        width: 350px;
        line-height: 1.5;
        padding-left: 60px;
    }

    /* About Me */
    .sub-about {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10%;
        padding: 0 30px 0 30px;
    }

    .sub-about img {
        width: 45%;

    }

    .sub-about>div>h2 {
        text-align: center;
        margin-top: 20px;
    }

    .sub-about>div>p {
        text-align: center;
        width: 400px;
        font-size: 1.1em;
        line-height: 1.5;

    }

    /* footer */
    .main-footer {
        font-size: 1.1em;
        line-height: 1.5;
    }

    .sub-footer {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .gps>div>div>p {
        width: 100%;
        font-size: 1.1em;

    }

    .contact-us {
        font-size: 1.1em;
    }

    .contact-us span {
        font-size: 1.1em;
    }

    .phone>div>p {
        width: 100%;
    }

    .quick-links span {
        font-size: 1.1em;
    }

    .quick-links a {
        font-size: 1.1em;
    }

    .social-media span {
        font-size: 1.1em;
    }

    .social-media a {
        font-size: 1.1em;
    }

}